 body{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Inter', sans-serif;

    font-style: normal;

}

.component {

    position: absolute;

    border: 2px solid black;

    width: 96%;

    height: 65vh;

    left: 2%;

    padding: 20px;

    font-size: 20px;

}

#primary {

    height: 89vh;

    width: 99%;

}

h1 {

    margin: 8vh 2vw 4vh 2vw;

    font-weight: 755;

    font-size: 36px;

    border-bottom: 2px solid black ;

}

.component div {

    margin-bottom: 20px;

}

#inputtext{

    margin: 0 2vw;

    display: block;

    margin-bottom: 4vh;

    width: 95%;

    background-color: black;

    color: white;

    border: 2px solid white;

    height: 3rem;

    padding-left: 1rem;

    font-size: larger;

}

#subbtn {

    margin: 0 2vw;

    width: 10%;

    height: 2.7rem;

    margin-bottom: 4vh;

}

#popErr {

    margin: 0 2vw;

    font-size: larger;

    color: red;

}

.component1 {

    border: 2px solid white;

}

#second {

    position: absolute;

    height: 135vh;

    width: 101%;

    background-color: black;

    color: white;

}
